  <div class="cocktail-card">
    <div class="cocktail-card-top">
      <div class="cocktail-card-top-image">
        <img src="<%= c.image %>" height=200 width=200">
      </div>
    </div>
    <div class="cocktail-card-bottom">
      <p id="cocktail-name"><%= c.name %></p>
    </div>
  </div>
